<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skyfi.atak.plugin"
    tools:ignore="GoogleAppIndexingWarning">

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_desc"
        android:theme="@style/AppTheme" >
        <meta-data android:name="plugin-api" android:value="${atakApiVersion}"/>
        <meta-data android:name="app_desc" android:value="@string/app_desc"/>
        
        <!-- SkyFi MapComponent for menu integration -->
        <meta-data android:name="component" android:value="com.skyfi.atak.plugin.SkyFiMapComponent"/>


        <!-- Plugin discovery activity for ATAK 4.6.0.2+ and TAK.gov compatibility
             This entry is critical for plugin discovery in both Play Store and TAK.gov builds -->
        <activity android:name="com.atakmap.app.component"
            android:exported="true"
            android:enabled="true"
            tools:ignore="MissingClass">
            <intent-filter android:label="@string/app_name" android:priority="1000">
                <action android:name="com.atakmap.app.component" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

</manifest>
